<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bcu.ls.mapper.ClockMapper">
  <resultMap id="BaseResultMap" type="cn.edu.bcu.ls.entity.Clock">
    <!--@mbg.generated-->
    <!--@Table clock-->
    <id column="clock_id" jdbcType="INTEGER" property="clockId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="card_time_id" jdbcType="INTEGER" property="cardTimeId" />
    <result column="clock_temp" jdbcType="FLOAT" property="clockTemp" />
    <result column="clock_remark" jdbcType="VARCHAR" property="clockRemark" />
    <result column="clock_time" jdbcType="DATE" property="clockTime" />
    <result column="clock_state" jdbcType="INTEGER" property="clockState" />
    <association property="user" javaType="cn.edu.bcu.ls.entity.User">
    	<id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_openid" jdbcType="VARCHAR" property="userOpenid" />
    <result column="dep_id" jdbcType="INTEGER" property="depId" />
     
    <result column="class_id" jdbcType="INTEGER" property="classId" />
     
    <result column="dormitory_id" jdbcType="INTEGER" property="dormitoryId" />
    
    	
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="user_integral" jdbcType="INTEGER" property="userIntegral" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="user_state" jdbcType="INTEGER" property="userState" />
    <association property="clazz" javaType="cn.edu.bcu.ls.entity.Clazz">
 	
   		<id column="clazz_id" jdbcType="INTEGER" property="clazzId" />
		<result column="clazz_teacher_id" jdbcType="VARCHAR" property="clazzTeacherId" />
    	<result column="clazz_name" jdbcType="VARCHAR" property="clazzName" />
    	<result column="dep_id" jdbcType="INTEGER" property="depId" />
    </association>
    </association>
    <association property="cardTime" javaType="cn.edu.bcu.ls.entity.CardTime">
    	<id column="card_time_id" jdbcType="INTEGER" property="cardTimeId" />
    <result column="card_start_time" jdbcType="TIMESTAMP" property="cardStartTime" />
    <result column="card_end_time" jdbcType="TIMESTAMP" property="cardEndTime" />
    <result column="card_time_name" jdbcType="VARCHAR" property="cardTimeName" />
    </association>
    <association property="dormitory" javaType="cn.edu.bcu.ls.entity.Dormitory">
    	<id column="dormitory_id" jdbcType="INTEGER" property="dormitoryId" />
    <result column="dormitory_build_id" jdbcType="VARCHAR" property="dormitoryBuildId" />
    <result column="dormitory_house_id" jdbcType="VARCHAR" property="dormitoryHouseId" />
    <result column="dormitory_manager_name" jdbcType="VARCHAR" property="dormitoryManagerName" />
    <result column="dormitory_manager_phone" jdbcType="VARCHAR" property="dormitoryManagerPhone" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    clock_id, user_id, card_time_id, clock_temp, clock_remark, clock_time, clock_state
  </sql>
  
  <sql id="select">
SELECT
	*
FROM
	clock
	LEFT JOIN `user` as student on clock.user_id=student.user_id
	LEFT JOIN clazz on student.class_id = clazz.clazz_id 
	LEFT JOIN card_time on clock.card_time_id=card_time.card_time_id
	LEFT JOIN dormitory on student.dormitory_id = dormitory.dormitory_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="cn.edu.bcu.ls.entity.ClockNumber" resultMap="BaseResultMap">
    
    
    <include refid="select" />
    <where>
    	<if test="clock_id !=null">
    		clock.clock_id=#{clock_id}
    	</if>
    	<if test="user_id !=null">
    		and clock.user_id=#{user_id}
    	</if>
    	<if test="clock_state !=null">
    		and clock.clock_state=#{clock_state}
    	</if>
    	<if test="clazz_id !=null">
    		and clazz.clazz_id=#{clazz_id}
    	</if>
    	<if test="teacher_id !=null">
    		and clazz.clazz_teacher_id =#{teacher_id}
    	</if>
    	<if test="dormitory_id !=null">
    		and student.dormitory_id=#{dormitory_id}
    	</if>
    	<if test="dep_id !=null">
    		and clazz.dep_id=#{dep_id}
    	</if>
    	<if test="clock_temp !=null">
    		and clock.clock_temp &gt;= ${clock_temp}
    	</if>
    </where>
    
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from clock
    where clock_id = #{clockId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="clock_id" keyProperty="clockId" parameterType="cn.edu.bcu.ls.entity.Clock" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into clock (user_id, card_time_id, clock_temp, 
      clock_remark, clock_time, clock_state
      )
    values (#{userId,jdbcType=VARCHAR}, #{cardTimeId,jdbcType=INTEGER}, #{clockTemp,jdbcType=FLOAT}, 
      #{clockRemark,jdbcType=VARCHAR}, #{clockTime,jdbcType=DATE}, #{clockState,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="clock_id" keyProperty="clockId" parameterType="cn.edu.bcu.ls.entity.Clock" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into clock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="cardTimeId != null">
        card_time_id,
      </if>
      <if test="clockTemp != null">
        clock_temp,
      </if>
      <if test="clockRemark != null">
        clock_remark,
      </if>
      <if test="clockTime != null">
        clock_time,
      </if>
      <if test="clockState != null">
        clock_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="cardTimeId != null">
        #{cardTimeId,jdbcType=INTEGER},
      </if>
      <if test="clockTemp != null">
        #{clockTemp,jdbcType=FLOAT},
      </if>
      <if test="clockRemark != null">
        #{clockRemark,jdbcType=VARCHAR},
      </if>
      <if test="clockTime != null">
        #{clockTime,jdbcType=DATE},
      </if>
      <if test="clockState != null">
        #{clockState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.bcu.ls.entity.Clock">
    <!--@mbg.generated-->
    update clock
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="cardTimeId != null">
        card_time_id = #{cardTimeId,jdbcType=INTEGER},
      </if>
      <if test="clockTemp != null">
        clock_temp = #{clockTemp,jdbcType=FLOAT},
      </if>
      <if test="clockRemark != null">
        clock_remark = #{clockRemark,jdbcType=VARCHAR},
      </if>
      <if test="clockTime != null">
        clock_time = #{clockTime,jdbcType=DATE},
      </if>
      <if test="clockState != null">
        clock_state = #{clockState,jdbcType=INTEGER},
      </if>
    </set>
    where clock_id = #{clockId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.bcu.ls.entity.Clock">
    <!--@mbg.generated-->
    update clock
    set user_id = #{userId,jdbcType=VARCHAR},
      card_time_id = #{cardTimeId,jdbcType=INTEGER},
      clock_temp = #{clockTemp,jdbcType=FLOAT},
      clock_remark = #{clockRemark,jdbcType=VARCHAR},
      clock_time = #{clockTime,jdbcType=DATE},
      clock_state = #{clockState,jdbcType=INTEGER}
    where clock_id = #{clockId,jdbcType=INTEGER}
  </update>
</mapper>