<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bcu.ls.mapper.LeaveMapper">
  <resultMap id="BaseResultMap" type="cn.edu.bcu.ls.entity.Leave">
    <!--@mbg.generated-->
    <!--@Table leave-->
    <id column="leave_id" jdbcType="INTEGER" property="leaveId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="leave_text" jdbcType="VARCHAR" property="leaveText" />
    <result column="leave_pic" jdbcType="LONGVARCHAR" property="leavePic" />
    <result column="leave_type" jdbcType="INTEGER" property="leaveType" />
    <result column="leave_start_date" jdbcType="DATE" property="leaveStartDate" />
    <result column="leave_end_date" jdbcType="DATE" property="leaveEndDate" />
    <result column="leave_post_date" jdbcType="TIMESTAMP" property="leavePostDate" />
    <result column="leave_state" jdbcType="INTEGER" property="leaveState" />
    <association property="user" javaType="cn.edu.bcu.ls.entity.User">
    	<id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_openid" jdbcType="VARCHAR" property="userOpenid" />
    <result column="dep_id" jdbcType="INTEGER" property="depId" />
     
    <result column="class_id" jdbcType="INTEGER" property="classId" />
     
    <result column="dormitory_id" jdbcType="INTEGER" property="dormitoryId" />
    
    	
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="user_integral" jdbcType="INTEGER" property="userIntegral" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="user_state" jdbcType="INTEGER" property="userState" />
    <association property="clazz" javaType="cn.edu.bcu.ls.entity.Clazz">
    	 <id column="clazz_id" jdbcType="INTEGER" property="clazzId" />
    <result column="dep_id" jdbcType="INTEGER" property="depId" />
    <result column="clazz_teacher_id" jdbcType="VARCHAR" property="clazzTeacherId" />
    <result column="clazz_name" jdbcType="VARCHAR" property="clazzName" />
    </association>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    leave_id, user_id, leave_text, leave_pic, leave_type, leave_start_date, leave_end_date, 
    leave_post_date, leave_state
  </sql>
  
  <sql id="select">
  
  	SELECT
	*
FROM
	`leave`
	LEFT JOIN `user` on `leave`.user_id=`user`.user_id
	LEFT JOIN clazz on `user`.class_id=clazz.clazz_id
	
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="cn.edu.bcu.ls.entity.LeaveNumber" resultMap="BaseResultMap">
    <!--@mbg.generated-->
   
    <include refid="select" />
   
    <where>
    	<if test="leave_id !=null">
    		leave_id=#{leave_id}
    	</if>
    	<if test="user_id !=null">
    		and leave.user_id =#{user_id}
    	</if>
    	<if test="leave_type !=null">
    		and leave_type=#{leave_type}
    	</if>
    	<if test="leave_state !=null">
    		and leave_state=#{leave_state}
    	</if>
    	<if test="clazz_id !=null">
    		and user.class_id =#{clazz_id}
    	</if>
    	<if test="clazz_teacher_id !=null">
    		and clazz_teacher_id =#{clazz_teacher_id}
    	</if>
    	<if test="date !=null">
    			and	`leave`.leave_end_date&gt;=#{date} and `leave`.leave_start_date&lt;=#{date}
    	</if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from `leave`
    where leave_id = #{leaveId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="leave_id" keyProperty="leaveId" parameterType="cn.edu.bcu.ls.entity.Leave" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `leave` (user_id, leave_text, leave_pic, 
      leave_type, leave_start_date, leave_end_date, 
      leave_post_date, leave_state)
    values (#{userId,jdbcType=INTEGER}, #{leaveText,jdbcType=VARCHAR}, #{leavePic,jdbcType=LONGVARCHAR}, 
      #{leaveType,jdbcType=INTEGER}, #{leaveStartDate,jdbcType=DATE}, #{leaveEndDate,jdbcType=DATE}, 
      #{leavePostDate,jdbcType=TIMESTAMP}, #{leaveState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="leave_id" keyProperty="leaveId" parameterType="cn.edu.bcu.ls.entity.Leave" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `leave`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="leaveText != null">
        leave_text,
      </if>
      <if test="leavePic != null">
        leave_pic,
      </if>
      <if test="leaveType != null">
        leave_type,
      </if>
      <if test="leaveStartDate != null">
        leave_start_date,
      </if>
      <if test="leaveEndDate != null">
        leave_end_date,
      </if>
      <if test="leavePostDate != null">
        leave_post_date,
      </if>
      <if test="leaveState != null">
        leave_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="leaveText != null">
        #{leaveText,jdbcType=VARCHAR},
      </if>
      <if test="leavePic != null">
        #{leavePic,jdbcType=LONGVARCHAR},
      </if>
      <if test="leaveType != null">
        #{leaveType,jdbcType=INTEGER},
      </if>
      <if test="leaveStartDate != null">
        #{leaveStartDate,jdbcType=DATE},
      </if>
      <if test="leaveEndDate != null">
        #{leaveEndDate,jdbcType=DATE},
      </if>
      <if test="leavePostDate != null">
        #{leavePostDate,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveState != null">
        #{leaveState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.bcu.ls.entity.Leave">
    <!--@mbg.generated-->
    update `leave`
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="leaveText != null">
        leave_text = #{leaveText,jdbcType=VARCHAR},
      </if>
      <if test="leavePic != null">
        leave_pic = #{leavePic,jdbcType=LONGVARCHAR},
      </if>
      <if test="leaveType != null">
        leave_type = #{leaveType,jdbcType=INTEGER},
      </if>
      <if test="leaveStartDate != null">
        leave_start_date = #{leaveStartDate,jdbcType=DATE},
      </if>
      <if test="leaveEndDate != null">
        leave_end_date = #{leaveEndDate,jdbcType=DATE},
      </if>
      <if test="leavePostDate != null">
        leave_post_date = #{leavePostDate,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveState != null">
        leave_state = #{leaveState,jdbcType=INTEGER},
      </if>
    </set>
    where leave_id = #{leaveId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.bcu.ls.entity.Leave">
    <!--@mbg.generated-->
    update `leave`
    set user_id = #{userId,jdbcType=INTEGER},
      leave_text = #{leaveText,jdbcType=VARCHAR},
      leave_pic = #{leavePic,jdbcType=LONGVARCHAR},
      leave_type = #{leaveType,jdbcType=INTEGER},
      leave_start_date = #{leaveStartDate,jdbcType=DATE},
      leave_end_date = #{leaveEndDate,jdbcType=DATE},
      leave_post_date = #{leavePostDate,jdbcType=TIMESTAMP},
      leave_state = #{leaveState,jdbcType=INTEGER}
    where leave_id = #{leaveId,jdbcType=INTEGER}
  </update>
</mapper>