<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bcu.ls.mapper.LoveMapper">
  <resultMap id="BaseResultMap" type="cn.edu.bcu.ls.entity.Love">
    <!--@mbg.generated-->
    <!--@Table love-->
    
    <id column="love_id" jdbcType="INTEGER" property="loveId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
  </resultMap>
  <insert id="insert" parameterType="cn.edu.bcu.ls.entity.Love">
    <!--@mbg.generated-->
    insert into love (love_id, user_id, article_id
      )
    values (#{loveId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{articleId,jdbcType=INTEGER}
      )
  </insert>
  <select id="queryLove"  parameterType="cn.edu.bcu.ls.entity.Love" resultMap="BaseResultMap">
  	select * from love
  	<where>
  		<if test="loveId !=null">
  			love_id=#{loveId}
  		</if>
  		<if test="userId !=null">
  			and user_id=#{userId}
  		</if>
  		<if test="articleId !=null">
  			and article_id=#{articleId}
  		</if>
  	</where>
  </select>
  <delete id="deleteLove" parameterType="cn.edu.bcu.ls.entity.Love">
  	 delete from love
    where user_id = #{userId} and article_id=#{articleId}
  </delete>
  <insert id="insertSelective" parameterType="cn.edu.bcu.ls.entity.Love">
    <!--@mbg.generated-->
    insert into love
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="loveId != null">
        love_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loveId != null">
        #{loveId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>